JWT_SECRET=your_jwt_secret
HOST=0.0.0.0
TURN_SERVER_URL=turn:yourturnserver.com:3478
TURN_USERNAME=username
TURN_CREDENTIAL=password
PORT=3000
DATABASE_URL="mysql://user:password@localhost:3306/remote_streaming"
NODE_ENV=development
